{% extends 'index.html' %}



{% block fiunctiontitle %}

    	<div class="row heading-bg  bg-pink">
			<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h5 class="txt-light">景点推荐</h5>
            </div>

        </div>
{% endblock %}


{% block content %}
            <div class="row">
                            {% for i in resultDataList %}

                        <div class="col-lg-4">
                        <style>
                            .card {

                                position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
                            .card-body {
    padding: 0 20px 20px 20px;
                                flex: 1 1 auto;
}
.card-title {
    padding: 20px 0 15px 0;
    font-size: 18px;
    font-weight: 500;
    color: #012970;
    font-family: "Poppins", sans-serif;

    margin-bottom: .5rem;

    text-align: center;
}
.badge {
    display: inline-block;
    padding: .35em .65em;
    font-size: .75em;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    --bs-bg-opacity: 1;
}
                            .card-body {
                                    padding: 0 20px 20px 20px;
                                }
                        </style>
                                  <div class="card">
                                        <div class="card-body">
                                          <h5 class="card-title">{{ i[1] }}</h5>
                                            <a href="{{ i[9] }}">
                                                                <img style="width:80%" src="{{ i[16]  }}" alt="">
                                            </a>
                                            <div style="margin:7px 0">
                                                评分：<span class="badge bg-pink">{{ i[10]  }}分</span>
                                            </div>
                                            <div style="margin:7px 0">
                                                等级：<span class="" style="color: #f60">{{ i[2] }}</span>
                                            </div>
                                            <div style="margin:7px 0">
                                                价格：<span class="" style="color:#008c8c">${{ i[11] }}元</span>
                                             </div>
                                            <div style="margin:7px 0">
                                                详情地址：<span class="" >{{ i[7] }}</span>
                                            </div>
                                            <div style="margin:7px 0">
                                                {% for img in i[14] %}
                                                    <img style="width:20%;border:2px solid #ccc;padding:5px;margin-right:5px;margin-bottom: 5px" src="{{ img }}" alt="">
                                                {% endfor %}
                                            </div>
                                        </div>
                                  </div>
                    </div>
            {% endfor %}
             </div>
{% endblock %}